.form-container {
	padding: 5px;
	font-size: 1.3rem;
}

.form-container .form-heading {
	font-size: 1.5rem;
}

.form-container .employee-form {
	padding: 1rem 0;
}

.form-container .employee-form input,
.form-container .employee-form select {
	display: block;
  margin: 5px 0;
}

.form-container .address-container .add-address-button {
  margin: 5px 14px;
  border: none;
  cursor: pointer;
  border-radius: 500px;
  background: #dedede;
  color: #FFF;
}

.form-container .employee-form .grad-container {
  border: 1px solid #dedede;
  width: 25%;
  flex-wrap: wrap;
  padding: 10px;
  margin: 2rem;
}

.form-container .employee-form .grad-container input{
  width: 100%;
}

.form-container .employee-form .grad-container .grad-container-heading {
 	width: 100%;
}

.form-container .employee-form .error {
  color: #F00;
  font-size: 1rem;
  display: block;
  width: 100%;
}

.form-container .employee-form .other-city {
  margin: 2rem;
}

.form-container .employee-form .radio-group label {
  margin: 5px;
}

.form-container .employee-form .radio-group input {
	display: inline;
}

.form-container .employee-form .job-type-container {
  border: 1px solid #dedede;
  width: 25%;
  padding: 5px;
  margin: 5px 0;
  margin-left: 2rem;
}

.form-container .employee-form .job-type-container input {
  width: 100%;
}

.form-container .employee-form .job-type-container .time-selector {
	align-items: center;
  width: 100%;
  justify-content: space-between;
}