@import url('dashboard.css');
@import url('employeeForm.css');
@import url('details.css');

*, *:before, *:after{
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: " "; 
  display: table; 
}

.clearfix:after {
  clear: both;
}

.inline-flex {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.flex {
  display: -webkit-box;      
  display: -moz-box;        
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex; 
}

input:disabled,
button:disabled {
  cursor: not-allowed;
}

button[type="submit"] {
  cursor: pointer;
}

input:focus {
  outline: none;
}
